* {
    box-sizing: border-box;
    margin: 0;
}
body, html {
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #515151;
    padding: 400px 400px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    border: 1px solid white;
}

h3 {
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;

}

.one,.two {
    display: flex;
    color: white;
    font-weight: 600;
    margin: 5px;
}


.font {
    font-style: italic;
    font-weight: 600;
    color: yellow;
}
.two form {
    display: flex;
    align-items: center;
}